/***
  This SASS file is created just for the purpose of showing the "Chokidar" sass package workign with React.
  Besides that it's not a recommended way of creating react application.
***/

html {
  height: 100%;
  background-image: url(../images/molecular-bond.svg);
  background-position: 109% 144%;
  background-repeat: no-repeat;
  background-size: 21%;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  height: 100%;

  background-image: url(../images/molecular-bond.svg);
  background-position: 10% 24%;
  background-repeat: no-repeat;
  background-size: 7%;
}

#root {
  height: 100%;
}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.section-wrap {
  height: 100%;
}
.section {
  display: table;
  width: 100%;
  height: 100%;
}
.content {
  color: #2c2c2c;
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
  font-size: 27px;
  font-weight: 400;
  text-align: center;

  h1 {
    display: table;
    font-size: 50px;
    font-weight: 400;
    margin: 0 auto;
  }

  p {
    display: table;
    font-size: 20px;
    line-height: 1.4em;
    padding: 0 0 15px 0;
    margin: 0 auto;
  }

  strong {
    color: #000;
    font-weight: 600;
  }

  .content-box {
    float: left;

    &.x2 {
      width: 50%;
    }
    &.x3 {
      width: 33.33333%;
    }
    &.x4 {
      width: 25%;
    }
    &.x5 {
      width: 20%;
    }
  }

  .gif-img {
    display: table;
    height: 300px;
    max-height: 34vh;
    border-radius: 10px;
    margin: 20px auto 0 auto;
  }
  .underline {
    margin: 0 auto 45px auto;

    &:after {
      content: "";
      width: 110px;
      height: 3px;
      display: block;
      margin: 35px auto 0 auto;
      background-color: #17bed0;
    }
  }
  .grey-quote {
    display: table;
    color: #a0a0a0;
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
    margin: 0 auto;
    padding: 15px 0 20px;
  }
  .between-links {
    font-size: 17px;
    padding: 0 10px;
  }
}
code.custom {
  color: rgb(248, 248, 242);
  display: block;
  float: left;
  font-size: 14px;
  text-align: left;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(35, 36, 31);
}
